.palmyra-form-field-label {
    color: var(--form-field-label-color);
}

.palmyra-form-field-data {
    color: var(--form-field-data-color);
}

.outlined-button {
    background-color: var(--btn-bgcolor) !important;
    border-color:var(--btn-border-color) !important;
    color: var(--btn-text-color) !important;
}

.outlined-button:hover {
    background-color: var(--btn-hover-bgcolor) !important;
    color: var(--btn-hover-text-color) !important;
}

.disabled-button {
    background-color: var(--disable-btn-bgcolor) !important;
    color: var(--disable-btn-text-color) !important;
}

.filled-button {
    background-color: var(--filled-btn-bgcolor) !important;
    color: var(--filled-btn-text-color) !important;
}

.filled-button:hover {
    background-color: var(--filled-btn-hover-bgcolor) !important;
    color: var(--filled-btn-hover-text-color) !important;
}

.cancel-filled-button {
    background-color: var(--cancel-btn-bgcolor) !important;
    color: var(--cancel-btn-color) !important;
}

.secondary-filled-button {
    background-color: var(--secondary-btn-bgcolor) !important;
    color: var(--secondary-btn-color) !important;
}

.default-filled-button {
    background-color: var(--default-btn-bgcolor) !important;
    color: var(--default-btn-color) !important;
}

.accent-outlined-button {
    background: var(--accent-btn-bgcolor) !important;
    color: var(--accent-btn-text-color) !important;
    border-color: var(--accent-btn-border-color) !important;
    box-Shadow: var(--accent-btn-boxshadow) !important;
}

.accent-outlined-button:hover {
    background-color: var(--accent-btn-hover-bgcolor) !important;
    color: var(--accent-btn-hover-text-color) !important;
}